.App {
  text-align: center;
}
.secFirTit{
  text-align:center;
  font-size:5.5rem;
}
.secFir2ndTit {
  text-align:center;
  font-size:3.5rem;
}
.secFirDesc {
  text-align: center;
  font-size: 1.5rem;
}
.firstSection{
  background:#ececec;
}
.thirdSection{
  background:#ffffff;
}
.thirdSection{
  background:#ececec;
}
.fourthSection {
  background: #ffffff;
}
.fiveSection {
  background: #ececec;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
Loader{
  position: absolute !important;
  left: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
